---
import cn from "./unit/styleMerge.tsx";


interface Props {
  btnType?: "button" | "submit" | "reset";
  variant?: "contained" | "outlined" | "text";
  themeColor?: string;
  className?: string;
  isDisabled?: boolean;
  name: string;
}

const { variant, themeColor, className, name, btnType } = Astro.props;

("btn-contained btn-outlined btn-text bg-primary bg-secondary text-primary text-secondary border-primary border-secondary ring-primary/75 ring-secondary/75 bg-primary/75 active:bg-secondary/20 active:bg-primary/20 text-secondary/75");
---

<button
  type={btnType}
  class={cn("p-2 m-3", className, {
    [`bg-${themeColor} text-white active:ring-4 ring-${themeColor}/75`]:
      variant === "contained",
    [`border-2 border-solid border-${themeColor} text-${themeColor}  active:ring-4 ring-${themeColor}/75`]:
      variant === "outlined",
    [`text-${themeColor} active:bg-${themeColor}/20`]: variant === "text",
  })}
>
  {name}
</button>
